* {
    margin: 0;
    padding: 0;
}

a {
}

li {
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    line-height: 50px;
    font-size: 20px;
}

.link {
    border: 1px solid #eee;
    padding: 10px;
    width: 95%;
    margin: 0 auto;
    font-size: 12px;
}

.link > a {
    text-decoration: none;
    color: #000;
}

.blog-list {
    border: 1px solid #eee;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    font-size: 14px;
    font-weight: 600;
}

.blog-list > span {
    display: block;
}

.blog-list > ul {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}

.blog-list > ul > li {
    margin-top: 5px;
    margin-left: 40px;
}

.blog-list a {
    color: black;
    cursor: pointer;
    font-weight: 400;
}
